html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: lightgray;
}

body {
    width: 100%;
    height: 100%;
    font-family: "roboto";
    overflow: hidden;
}

.FullHeightWidth {
    width: 100%;
    height: 100%;
}

.FullHeight {
    height: 100%;
}

.SizeContainerSlideShow {
    height: 100%;
}

.NoMargin {
    margin: 0px !important;
}

.NoMarginRow {
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 10px;
    padding-right: 10px;
}

.NoPadding {
    padding: 0px !important;
}

.logo {
    width: 200px;
    height: 100%;
    background-image: url("/img/CorbleLogo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.WelcomeText {
    text-align: center;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
}

.container {
    text-align: center;
    padding: 10px 20px;
}

.WelcomeText {
    text-align: center;
}

.selectColorWinner {
    color: tomato;
}

.confirmNameButton {
    float: right;
}

.usernameDisplay {
    pointer-events: none;
}

.lobbyControls {
    margin-top: 10vh;
}

.LobbyTitle {
    text-align: center;
}

.TableDiv {
    display: inherit;
}

#drawBoard {
    border: 2px dotted #CCCCCC;
    border-radius: 5px;
    cursor: crosshair;
    background-color: white;
}

#dataUrl {
    width: 100%;
}

#drawBoardContainer {
    height: 100%;
}

#drawBoardContainer {
    height: 100%;
}

.selectedColor {
    box-shadow: 0px 0px 10px 6px rgb(0 0 0 / 77%);
}

.content {
    height: 90%;
    margin: 1%;
    overflow: scroll;
}

.content2 {
    height: 90%;
    margin: 1%;
    overflow: auto;
}

.content3 {
    height: 100%;
    margin: 1%;
    overflow: hidden;
}


/*Flexcontainer*/

.contentFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


/*Flexitems*/

.SlideShow {
    order: 1;
    flex-grow: 10;
}

.Tabel {
    order: 2;
    flex-grow: 2;
}

.corbleColor {
    height: 30px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-align: center;
}

.corbleGreen {
    background-color: green;
}

.corbleRed {
    background-color: red;
}

.corbleBlue {
    background-color: blue;
}

.corbleYellow {
    background-color: yellow;
}

.corbleBlack {
    background-color: black;
}

.corbleOrange {
    background-color: orange;
}

.corbleWhite {
    background-color: white;
}

.corbleBrown {
    background-color: brown;
}

.corbleGrey {
    background-color: grey;
}

 ::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}


/* Optional: show position indicator in red */

 ::-webkit-scrollbar-thumb {
    background: #FF0000;
}

#submitBtn {
    width: 100%;
}

#clearBtn {
    width: 100%;
}

.drawcols {
    overflow: hidden;
}

.controllsPull {
    display: none;
}

@media only screen and (max-width: 992px) {
    .controllsPull {
        display: block;
        text-align: center;
        width: 100%;
    }
}

.sketchTitle {
    mix-blend-mode: difference;
}


/* Position the image container (needed to position the left and right arrows) */

.slideShowContainer {
    position: relative;
}


/* Hide the images by default */

.mySlidesSlideShow {
    display: none;
}

.mySlidesSlideShowSelected {
    display: block;
}


/* Default Text for default picture*/

.defaultText {
    display: block;
}


/* Add a pointer when hovering over the thumbnail images */

.cursorSlideShow {
    cursor: pointer;
    display: block;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}


/* Position the "next button" to the right */

.nextSlideShow {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Number text (1/3 etc) */

.numbertextSlideShow {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* Container for image text */

.caption-containerSlideShow {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Six columns side by side */

.columnSlideShow {
    float: left;
    width: 16.66%;
}


/* Add a transparency effect for thumnbail images */

.demoSlideShow {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

.pictureWidth {
    width: 100%;
}


/* Use Flexbox for Picture */

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.largePicture {
    order: 1;
    flex-grow: 10;
}