html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
    font-family: "roboto";
    overflow: hidden;
}

.FullHeightWidth {
    width: 100%;
    height: 100%;
}

.FullHeight {
    height: 100%;
}

.NoMargin {
    margin: 0px;
}

.logo {
    width: 200px;
    height: 100%;
    background-image: url("/img/CorbleLogo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.WelcomeText {
    text-align: center;
}

.confirmNameButton {
    float: right;
}

.usernameDisplay {
    pointer-events: none;
}

.lobbyControls {
    margin-top: 10vh;
}

.LobbyTitle {
    text-align: center;
}

.TableDiv {
    display: inherit;
}

#drawBoard {
    border: 2px dotted #CCCCCC;
    border-radius: 5px;
    cursor: crosshair;
}

#dataUrl {
    width: 100%;
}

#drawBoardContainer {
    height: 100%;
}

#drawBoardContainer {
    height: 100%;
}

.content {
    height: 90%;
    margin: 1%;
    overflow: scroll;
}

::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}