# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Roman\Documents\ArDevelopment\TestFileDb\TestFileDb\PM3_FS21_IT19tb_ZH_Corble\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
